!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title= page_title
    %meta{name: :description, content: page_description}
    %meta{:content => "True", :name => "HandheldFriendly"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = favicon_tag 'images/favicon.ico'
    = stylesheet_link_tag :katex
    = stylesheet_link_tag :pseudocode
    = stylesheet_link_tag :application
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    %meta{name: 'HandheldFriendly', content: 'True'}

    -# Open Graph Tags
    %meta{property: "og:site_name", content: blog_settings.name}
    %meta{property: "og:type", content: og_type}
    - if og_title.present?
      %meta{property: "og:title", content: og_title}
    %meta{property: "og:description", content: page_description}
    %meta{property: "og:url", content: URI.join(blog_settings.url, current_page.url)}
    - if cover?
      %meta{property: "og:image", content: URI.join(blog_settings.url, image_path(current_page.data.cover))}
    - if is_blog_article?
      %meta{property: "article:published_time", content: current_article.date.strftime('%Y-%m-%d')}

    -# Twitter Card Tags
    %meta{name: "twitter:card", content: "summary"}
    - if blog_author.twitter.present?
      %meta{name: "twitter:site", content: blog_author.twitter}
    - if twitter_title.present?
      %meta{name: "twitter:title", content: twitter_title}
    %meta{name: "twitter:description", content: page_description}
    %meta{name: "twitter:url", content: URI.join(blog_settings.url, current_page.url)}
    - if cover?
      %meta{name: "twitter:image:src", content: URI.join(blog_settings.url, image_path(current_page.data.cover))}
  %body
    = partial('shared/navigation')

    = yield
    #search-results-container.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4.modal-title Search results
          .modal-body
            Searched for
            %strong#search-term
            %hr
            %section#loading-spinner.text-center
              %i.fa.fa-spinner.fa-spin.fa-2x
            %section#search-results.search-results
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    %footer.site-footer.clearfix.container.text-muted
      %hr
      .row
        .col-md-6
          %a{"data-scroll" => "true", :href => "#top"}
            %i.fa.fa-arrow-up
            Back to top
        .col-md-6.text-right
          %p
            %strong= blog_settings.name
            &copy;
            = Time.now.year
          %p
            %a{href: 'https://github.com/Syncleus/middleman-ghoststa'} Ghoststa theme
            by
            %a{href: 'http://syncleus.com'} Syncleus
    = javascript_include_tag :ghoststa_vendor
    = javascript_include_tag :ghoststa
    = javascript_include_tag :katex
    = javascript_include_tag :pseudocode
    %script{:src => "//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML", :type => "text/javascript"}

    :javascript
      var blocks = document.getElementsByClassName("pseudocode");
      for(var blockId = 0; blockId < blocks.length; blockId++) {
        var block = blocks[blockId];

        var code = block.textContent;
        var options = {
          lineNumber: true
        };

        var outputEl = document.createElement('div');
        outputEl.className += " pseudocode-out";
        block.parentNode.insertBefore(outputEl, block.nextSibling);

        pseudocode.render(code, outputEl, options);
      }

      while( blocks[0]) {
        blocks[0].parentNode.removeChild(blocks[0]);
      }

