%article.post{:class => "post"}
  %header.post-header
    %h2.post-title= link_to article.title, article
    %section.post-meta.text-muted
      %ul.list-inline
        %li
          %i.fa.fa-calendar
          %time.post-date{datetime: article.date.strftime('%Y-%m-%d')}
            = article.date.strftime(blog_settings.date_format)
        %li
          - if gravatar?
            %a.author-image{href: author_path, style: "background-image: url(#{gravatar})"}
              %span.hidden {{name}}'s Picture
          - else
            %i.fa.fa-user
          %a{href: author_path}= blog_author.name

        %li
          %i.fa.fa-folder-open
          - if tags?(article)
            #{tags(article)}

  %section.post-content
    = article.body